* {
    font-family: "Geist Mono", monospace;
    
}

.block {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: hwb(0 10% 56%);
  }
  .flex-item {
    display: inline-block;
    background-color: rgb(164, 69, 199);
    padding: 20px;
  }